<div class="container">
    <div class="handler left" (click)="moveAlongSliderLeft($event)" [class.hidden]="leftHandlerHidden()">⮜</div>
    <div class="slider" [style.transform]="percentage_string()" >
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()" src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img [style.max-width]="sizePercentage()" [style.flex]="'0 0 ' + sizePercentage()"src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
    </div>
    <div class="handler right" (click)="moveAlongSliderRight($event)" [class.hidden]="rightHandlerHidden()">⮞</div>
</div>



