<div class="container">
    <div class="handler left" (click)="moveLeft($event)">Left</div>
    <div class="slider" [style.transform]="percentage_string()">
        <img src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
        <img src="https://s.err.ee/photo/crop/2025/07/01/2916708hba06.png">
    </div>
    <div class="handler right" (click)="moveRight($event)">Right</div>
</div>



